<nav class="navbar"></nav>
  <p class="logotext logotext-1"><a ng-href='/'><span>Curates</span></a></p>
 <button class= ng-if="loggedIn" ng-show="loggedIn">Welcome {{user}}!</button>
 <button class= ng-if="!loggedIn" ng-show="!loggedIn"><a href="#/signin">Sign In Here!</button></a>
<div ng-controller="collectionsListController">
  <div class="collections-search clearfix">
    <button class="_button">Search</button>
    <input class="_input" type="text" ng-model="query">
  </div>
  <div ng-controller="collectionsListController" class="single-collection single-collection-2 clearfix">
    <div class="collection clearfix">
      <collection-meta ng-repeat="collection in listData | filter:query | orderBy:predicate" collection="collection" /></collection-meta>
    </div>
  </div>
</div>
