.index {
}
.collections-search {
  margin: 0;
  float: none;
  position: relative;
  top: 54;
  left: 0;
  width: 100%;
  margin-bottom: 3rem;
}
.collections-search ._button {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  margin: 0;
  width: 9rem;
}
.collections-search ._input {
  position: absolute;
  left: 162;
  margin: 0;
  top: 11;
  width: 56%;
}
.logotext {
  width: 39.1979166666%;
  top: -0.5rem;
  margin-left: -8%;
}
.signin {
  margin-left: 23%;
/*  left: 18rem;
  top: 5rem;*/
}
#signin ._button {
  width: 9rem;
  margin-left: -36.97602%;
  margin-top: -1.8rem;
/*  position: relative;
  left: -17.59rem;
  top: -0.9rem;
  margin-left: 2%;*/
}
.single-collection {
  width: 130.5%;
  height: 7rem;
  margin-top: 1.563rem;
  margin-left: 16.19792%;
}
.collection .collection-box {
  height: 15.5rem;
  width: 18rem;
}
.collection .collection-text {
  margin-top: -15.5rem;
  padding-left: 3%;
}
.collection .votes-user {
  margin-top: -10.312rem;
}
.votes-user .votes-box {
  float: left;
  width: 130.25381%;
  height: 63%;
  padding-top: 11%;
  margin-top: 0.5rem;
  margin-right: 0;
  margin-left: 13.023%;
}
.collection-username {
  display: block;
  margin-bottom: 5%;
}
.loggedIn {
  position: absolute;
  left: -250;
}
.collection-text .collection-description {
  max-height: 7rem;
}
.select-collection {
  margin-top: 0.188rem;
  height: 75%;
  width: 80%;
  margin-left: 10%;
}
.select-collection .btn-container {
  top: 11.6rem;
/*  right: 4.120748%;
*/  width: 200px;
  position: static;
  right: 0;
  margin-top: 11.7rem;
  margin-left: 33%;
}
.collection-title-text {
  top: 0.5rem;
  margin-left: -6%;
  width: 78.666667%;
}
.collection-description-text {
/*  top: 6.063rem;
*/  margin-top: 1rem;
  overflow: scroll;
  height: 7rem;
}
.btn-container .clone-btn, 
.btn-container .upvote-btn {
  width: 57px;
  display: inline;
  float: none;
  clear: none;
  margin-left: 0;
  margin-top: 0;
}
.btn-container {
  height: 1.5rem;
}
.clone-btn {
  width: 50px;
  display: inline;
  clear: none;
}
