.collections-search {
  margin: 0;
  float: none;
  position: relative;
  top: 54;
  left: 0;
  width: 100%;
  margin-bottom: 3rem;
}
.collections-search ._button {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  margin: 0;
  width: 9rem;
}
.collections-search ._input {
  position: absolute;
  left: 162;
  margin: 0;
  top: 11;
  width: 56%;
}
.logotext {
  width: 39.1979166666%;
  top: -0.5rem;
  margin-left: -8%;
}
.signin {
  margin-left: 23%;
}
#signin ._button {
  width: 9rem;
  margin-left: -36.97602%;
  margin-top: -1.8rem;
}
.single-collection {
  width: 130.5%;
  height: 7rem;
  margin-top: 1.563rem;
  margin-left: 16.19792%;
}
.collection .collection-box {
  height: 15.5rem;
  width: 18rem;
}
.collection .collection-text {
  margin-top: -15.5rem;
  padding-left: 3%;
}
.collection .votes-user {
  margin-top: -10.312rem;
}
.votes-user .votes-box {
  float: left;
  width: 130.25381%;
  height: 63%;
  padding-top: 11%;
  margin-top: 0.5rem;
  margin-right: 0;
  margin-left: 13.023%;
}
.collection-username {
  display: block;
  margin-bottom: 5%;
}
.loggedIn {
  position: absolute;
  left: -250;
}
.collection-text .collection-description {
  max-height: 7rem;
}
.select-collection {
  margin-top: 0.188rem;
  height: 14rem;
  width: 80%;
  margin-left: 10%;
}
.select-collection .btn-container {
  top: 11.6rem;
  width: 200px;
  position: static;
  right: 0;
  margin-top: 11.7rem;
  margin-left: 33%;
}
.collection-title-text {
  top: 0.5rem;
  margin-left: -6%;
  width: 78.666667%;
}
.collection-description-text {
  margin-top: 1rem;
  overflow: scroll;
  height: 7rem;
}
.btn-container .clone-btn, 
.btn-container .upvote-btn {
  width: 57px;
  display: inline;
  float: none;
  clear: none;
  margin-left: 0;
  margin-top: 0;
}
.btn-container {
  height: 1.5rem;
}
.clone-btn {
  width: 50px;
  display: inline;
  clear: none;
}
.votes-box {
  width: 89.975343%;
  margin: 5.263rem auto 0;
}
.scnshot-container .box {
  position: relative;
  width: 805.284427%;
  margin-left: -106%;
}
.link .box {
  height: 8.188rem;
}
.box {
  margin-left: -80%;
}
.link .screenshot {
  margin-top: -6.8812rem;
}
.scnshot-container .screenshot {
  margin-left: -71.27413%;
}
.link-votes-user {
  width: 25.820039%;
  right: -47;
  top: 4;
}
.link-votes-box {
  width: 69.975343%;
  margin-left: 16.5%;
}
.link-btn-container {
  right: -68;
  margin-top: .5rem;
  height: 50%;
}
.btn-container .link-description-text {
  float: none;
  overflow: scroll;
  width: 50px;
}